/*
* CSS Colors
* Synced with colors.conf
*/

/* Background colors */
@define-color bg #0f0f17;
@define-color bg_blur rgba(15, 15, 23, 0.67);
@define-color bg_surface #1a1a26;
@define-color bg_surface_high #24242f;

/* Foreground colors */
@define-color fg #d8dee9;
@define-color fg_dim #a6adc8;

/* Accent colors */
@define-color accent_1 #89b4fa;
@define-color accent_2 #74c7ec;
@define-color accent_3 #89dceb;
@define-color accent #89b4fa;
@define-color accent_inactive #45475a;

/* Status colors */
@define-color red #bf616a;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;

/* Palette colors */
@define-color blue #81a1c1;
@define-color cyan #8fbcbb;
@define-color magenta #b48ead;
